<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Ward</label>
    <div class="controls">
      <input type="text" ng-model="editing.ward">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Bed</label>
    <div class="controls">
      <input type="text" ng-model="editing.bed">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Date of admission</label>
    <div class="controls">
      <input type="text" ng-model="editing.date_of_admission" bs-datepicker>
    </div>
  </div>

</div>
</form>
