<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Test</label>
        <div class="controls">
            <input type="text" ng-model="editing.test" bs-typeahead="microbiology_test_list" data-provide="typeahead">
        </div>
    </div>

    <div class="control-group">
	    <label class="control-label">Date ordered</label>
	    <div class="controls">
		    <input type="text" ng-model="editing.date_ordered" bs-datepicker>
	    </div>
    </div>

    <div class="control-group">
	    <label class="control-label">Details</label>
	    <div class="controls">
		    <input type="text" ng-model="editing.details">
	    </div>
    </div>
    <div class="control-group">
	    <label class="control-label">Result</label>
	    <div class="controls">
		    <input type="text" ng-model="editing.result">
	    </div>
    </div>
</form>
